body{
	background-color:#00112b;
}

#pagecontainer {
	position:relative;
	margin: 10px 10px 10px 10px;
	width:1500px;
	height:auto;
	padding:0px;
	
}
.left.container{
	width:695px;
	position:absolute;
	top:0px;
	left:0px;
	
}

.right.container{
	width:800px;
	position:absolute;
	top:0px;
	left:700px;
	
}

.taskforce.container{
	border:1px solid #8fbcff;
	color:#deebff;
	background-color:#16263d;
	position:relative;
	margin-bottom:5px;
	cursor:pointer;
	opacity:0.5;
}

.taskforce.container.selected{
	/*background-color:#385783;
	*/
}


.taskforce.container .dataentry{
	margin-lefT:2px;
}

.taskforce.container .row{
	height:20px;
	margin-left:45px;
	width:250px;
}
.taskforce.container .bottomrow{
	height:20px;
	margin-left:45px;
	font-size:12px;
	color:#8fbcff;
	margin-bottom:3px;
	width:250px;
}

.taskforce.container .bottomrow td{
	width:50px;
}

.taskforce.container .bottomrow td.location{
	width:50px;
}

.taskforce.container .symbol.container{
	width:38px;
	height:38px;
	position:absolute;
	top:2px;
	left:2px;
	
}

.taskforce.container .symbol.container .taskforcesymbol{
	width:38px;
	height:27px;
	background-image:url(./img/tf_friendly_no_jump.gif);
}

.taskforce.container.jumpcapable .symbol.container .taskforcesymbol{
	background-image:url(./img/tf_friendly_jump.gif);
}

.taskforceorders.container{
	position:absolute;
	top:0px;
	left:300px;
	height:40px;
	width:390px;
}

.turnindicator {
	height:13px;
	font-size:10px;
	width:30px;
}

.ordercontainer{
	overflow:hidden;
}

.taskforceorders.container .order{
	border:1px solid #8fbcff;
	font-size:12px;
}

.taskforceorders.container .order.move{
	background-color:#56963b;
}

.taskforceorders.container .order.move.nojump{
	color:red;
}

.taskforceorders.container .order.patr{
	background-color:#b7600a;
}

.taskforceships.container{
	display:none;
	position:relative;
	margin-top:15px;
	
}

.taskforceships.container .ship.container {
	width:133px;
	height:45px;
	font-size:10px;
	border:1px solid #8fbcff;
	position:absolute;
	background-color:#111d2f;
	
}

.ship.container .systementry{
	position:absolute;
	height:18px;
	width:30px;
	top:0px;
}

.ship.container .systementry .dataentry{
	margin-top:3px;
	color:#8fbcff;
}

.ship.container .systementrypic{
	width:16px;
	height:16px;
}

.taskforceships.container .ship.container .row{
	height:13px;
	margin-left:40px;
	
}

.taskforceships.container .ship.container .bottomrow{
	height:18px;
	width:100%;
	position:relative;
	margin-left:0px;
	
}

.ship.symbol{
	position:absolute;
	width:34px;
	height:24px;
	top:2px;
	left:2px; 
}

.mapmarkertaskforce.container{
	position:absolute;
	opacity:0.5;
	width:1px;
	height:1px;
	z-index:2;
}
.mapmarkertaskforce.container.friendly{
	position:absolute;
	color:#69ff2e;
}

.mapmarker.text{
	width:100px;
	height:20px;
}


.mapmarkertaskforce .mapmarker.symbol{
	width:23px;
	height:23px;
	cursor:pointer;
}

.mapmarkertaskforce.enemy .mapmarker.symbol{
	
}

.mapmarkertaskforce.friendly .mapmarker.symbol{
	background-image:url(./img/taskforce_map_friendly.png);
}

.mapmarkertaskforce.friendly.jumpcapable .mapmarker.symbol{
	background-image:url(./img/taskforce_map_friendly_jump.png);
}

#ordercanvas{
	position:relative;
	z-index:1;
	display:none;
	opacity:0.8;
	
}

#mapchoosecontainer{
	opacity:0.5;
	display:none;
	width:260px;
	position:absolute;
	background-color:#111d2f;
	color:#8fbcff;
	border:1px solid #8fbcff;
	z-index:3;
}

#mapchoosecontainer .dot{
	position:absolute;
	background-color:#8FBCFF;
	width:5px;
	height:5px;
	top:-3px;
	left:-3px;
	opacity:1;
}

#mapchoosecontainer .orderlocation{
	margin: 1px 5px 1px 5px;
	font-size:12px;
	color:white;
}

#mapchoosecontainer .orderchoice{
	margin: 1px 5px 1px 5px;
	font-size:12px;
	cursor:pointer;
}

#mapchoosecontainer .orderchoice:hover{
	margin: 1px 5px 1px 5px;
	font-size:12px;
	color:white;
}

.orderboxorder{
	display:none;
	font-size:12px;
	margin-left:15px;
	color:#8FBCFF;
}

.orderboxorder .header{
	font-weight:bold;
	color:white;
}

.orderboxorder span.entry{
	cursor:pointer;
}

.orderboxorder span.entry.selected{
	text-decoration: underline;
	font-weight:bold;
}

.orderboxorder span.entry:hover{
	text-decoration: underline;

}


.orderboxorder .confirm.container{
	color:white;
	margin-top:5px;
	margin-bottom:10px;
}

.orderboxorder .confirm.container span{
	cursor:pointer;
	
}

.orderboxorder .confirm.container .cancel{
	margin-left:30px;
}

.orderboxorder .confirm.container .ok:hover{
	color:green;
}

.orderboxorder .confirm.container .cancel:hover{
	color:red;
}

.orderboxorder input{
	
	margin:2px 5px 2px 5px;
	color:#8fbcff;
	border:1px solid #8fbcff;
	background-color:black;
	

}


h1{
	color:#8fbcff;
	margin-left:20px;
}

#taskforcecontainer{
	
}

#mapcontainer{
	position:relative;
	border:1px solid #8fbcff;
	width:800px;
	height:800px;
}

#templatecontainer{
	display:none;
	position:relative;
}

.hidden{
	display:none;
}

