
body {
	background-image:url(./../img/maps/intothefieryvoid.jpeg);
    background-repeat:repeat;
    background-attachment:fixed;
	background-color:black;
	background-size:cover;
	color:#DEEBFF;
	font-family:arial;
    font-size:12px;
}

a.link
{
    display: block;
    background-color: #222;
    padding: 5px 0px;
    width: 160px;
    text-align: center;
    margin-bottom: 5px;
}

a.link:hover
{
    background-color: #DEEBFF;
    color:black;
    text-decoration: none;
}

.name{
	font-style: italic;
}

.panel{
    opacity:0.9;
	padding:10px;
	border:1px solid #496791;
    background-color:#0a3340;
	border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
	position:relative;
    box-shadow: 0px 0px 20px black;
}

.subpanel{
	padding:5px;
	background-color:#04161C;
	border:1px solid #37465a;
}

.panel.news {
	width:400px;
	margin:0px auto 50px auto;
}

.panel.large{
	width:1000px;
	margin:0px auto 10px auto;
}


.panelheader{
	font-size:20px;
	color:#DEEBFF;
}

.panelsubheader{
	font-size:20px;
	color:#496791;
}

a{
	color:white;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

.logout{
	position:absolute;
	top:10px;
	right:10px;
	width:50px;
}
