
body {
	/*background-image:url(./../img/maps/intothefieryvoid.jpeg);*/
    background-repeat:no-repeat;
    background-attachment:fixed;
	background-color:black;
	background-size:cover;
	color:#DEEBFF;
	font-family:arial;
    font-size:12px;
}

a.link
{
    display: block;
    background-color: #222;
    padding: 5px 0px;
    width: 160px;
    text-align: center;
    margin-bottom: 5px;
}

a.link:hover
{
    background-color: #DEEBFF;
    color:black;
    text-decoration: none;
}

.name{
	font-style: normal;
}

.panel{
    opacity:0.9;
	padding:10px;
	border:1px solid #496791;
    background-color:#0a3340;
	border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
	position:relative;
    box-shadow: 0px 0px 20px black;
}

.subpanel{
	padding:2px;
	background-color:#04161C;
	border:1px solid #37465a;
  	border-radius: 5px;	
	margin-top: 2px;	
}

.panel.news {
	/*width:400px; let's increase it some... no need to keep it so narow!*/
	/*later 720 px, also increased to match the rest*/
	width:1000px;
	/*was: margin:0px auto 50px auto;*/
	margin:0px auto 10px auto;
}

.panel.large{
	width:1000px;
	margin:0px auto 10px auto;
}

.panel.large.create{
	width:1000px;
	margin:0px auto 10px auto;
	background: rgba(23, 39, 54, 0.9); 
	border: 1px solid #215a7a;
}

.panel.large.lobby{
	width:1300px;
	margin:0px auto 10px auto;
	background: rgba(23, 39, 54, 0.9); 
	border: 1px solid #215a7a;
}

.panelheader{
	font-size:20px;
	color:#DEEBFF;
}

.panelsubheader{
	font-size:20px;
/*	color:#496791; Seemed a bit too dark to read well - DK */

	color: #DEEBFF;	
}

.panelsmall {
    font-size:15px; 
/*    color: #00caca;    Example color (cyan), choose your desired color */
    color: #81a7ec; 
	font-weight: 525;
}

a{
	color:white;
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

.logout{
	position:absolute;
	top:10px;
	right:10px;
	width:50px;
}

.flex-container {
    display: flex;
    align-items: flex-start; /* Vertically aligns elements */
}

.depheightheader, .depwidthheader, .depheight {
    margin: 0; /* Reset margins */
    margin-right: 0px; 
}

span.clickable.close {
    margin-left: auto; /* Pushes the REMOVE SLOT to the far right */
    cursor: pointer;
    margin-top: -15px; /* Adjust this value to raise it */    
    color: #ffffff; /* Optional to make it stand out */
}

input[type="checkbox"] {
    position: relative;
    top: 2px;
}

input[type="checkbox"].yellow-tick:checked {
    accent-color: yellow;
}

