.chatcontainer{
    width:100%;
    height:100%;
    overflow:hidden;
    position:relative;
}

.chatMessages{
    height:100%;
	overflow-x:hidden;
    overflow-y:scroll;
}

.chatinput{
    border:0;
    padding:0;
    height:20px;
    width:100%;
}

.chatmessage{
    margin: 2px 5px 2px 5px;
    /*font-size:11px;*/
	font-size:15px;
}

.chattime{
    color:#DEEBFF;
}

.chatuser{
    color:#DEEBFF;
}

.chatingame{
    color:#b34119;
}

.chatuser.mine{
    /*color:#2f5123;*/
	color:#00D800; /*green*/
}

.chattext{
    /*color:#496791;*/
	color:#BDEAFA; /*white-ish*/
}