
.confirm {
	padding:10px 10px 10px 10px;
    background-color:black;
	border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
	position:fixed;
    width:450px;
    max-width: 100%;
    max-height: 100%;
	left:50%;
	top:50%;
	opacity:0.85;
	z-index:999999;
	display:none;
    text-align: center;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
}

.confirm .missileselect{
    border: 1px solid #DEEBFF;
    color: #DEEBFF;
    padding: 3px 5px;
    position: relative;
    margin-top: 8px;
    margin-bottom: 10px;
    background-color: #123D73 !important;
    -moz-box-shadow: 0px 0px 15px #0099ff;
    -webkit-box-shadow: 0px 0px 15px #0099ff;
    box-shadow: 0px 0px 15px #0099ff;
}

.confirm .missileSelectItem{
    /*padding-left: 5em;*/
}

.missileSelectItem{
    text-align: left;
    vertical-align: middle;
}

.missileSelectItem .selectText{
    padding-left: 10px;
    display: inline-block;
    width: 75%;
}

.missileSelectItem .selectButtons{
    vertical-align: middle;
    display: inline-block;
}

.missileSelectItem .selectAmount{
    display: inline-block;
    width: 7%;
    border: 1px solid #496791;
    background-color: #072731;
    padding: 3px 5px;
    text-align: right;
}

.fighterAmount{
    display: inline-block;
    width: 7%;
    border: 1px solid #496791;
    background-color: #072731;
    padding: 3px 5px;
    text-align: right;
}

.totalUnitCost .totalUnitCostText{
    font-style: italic;
    font-weight: bold;
    display: inline-block;
    text-align: right;
    margin-right: 15px;
    width: 62%;
}

.totalUnitCost .totalUnitCostAmount{
    display: inline-block;
    width: 7%;
    border: 1px solid #496791;
    background-color: #072731;
    padding: 3px 5px;
    text-align: right;
}

.missileSelectItem table{
    border-spacing: 0px;
    empty-cells: show;
    display: inline-block;
}


.missileSelectItem .minusButton{
    display: inline-block;
    border:1px solid #496791;
    width:12px;
    height:12px;
    position:relative;
    background-image:url(../img/minussquare.png);
    cursor:pointer;
}

.missileSelectItem .plusButton{
    display: inline-block;
    border:1px solid #496791;
    width:12px;
    height:12px;
    position:relative;
    background-image:url(../img/plussquare.png);
    cursor:pointer;
}

.confirm .missileSelectItem .combo input {width:92px; background-color:#cfc;height:1.5em;z-index:0;}
.confirm .missileSelectItem .combo ul {padding:1px;border:2px solid #ccc;width: 89px;background-color:#cfc;position:absolute;right:3px;top:1.5em;display:none;z-index:1;}
.confirm .missileSelectItem .combo li {display:block; width: 100%;}
.confirm .missileSelectItem .combo {position:relative;width:190px;text-align:left;padding:0;margin:0;}
.confirm .missileSelectItem .combo * {padding:0;margin:0;}

.confirm.error{
	color:#b34119;
	font-family: arial;
	font-size:16px;
}

.confirm h2{
    font-size:22px;
    margin:10px;
}

.ui{
	
	color:white;
	text-decoration:none;
	margin:10px 0px 0px 10px;
	position:relative;
	
}

.ui .confirmok{
	background-image: url("../img/ok.png");
    cursor: pointer;
    height: 30px;
    width: 30px;
}



.ui .confirmcancel{
	position:absolute;
	right:10px;
	top:0px;
	background-image: url("../img/cancel.png");
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.ui .confirmokoption{
    border: 1px solid #496791;
    border-radius: 5px;
    background-color: #0a3340;
    color:#DEFBFF;
    font-family: arial;
    font-size:16px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 180px;
}



.ui .confirmcanceloption{
    border: 1px solid #496791;
    border-radius: 5px;
    background-color: #0a3340;
    color:#DEFBFF;
    font-family: arial;
    font-size:16px;
    position:absolute;
    right:10px;
    top:0px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 180px;
}

.ui .surrender{
    	position:absolute;
	left:175px;
	top:0px;
	background-image: url("../img/surrender_icon.png");
    cursor: pointer;
    height: 30px;
    width: 30px;
    }

.ui .surrender2{
	background-image: url("../img/surrender_icon.png");
    cursor: pointer;
    height: 30px;
    width: 30px;
    }

.ui span{
	cursor:pointer;
}
.ui span:hover{
	text-decoration:underline;
}

.confirm input{
	margin-left:10px;
}

@media only screen and (max-width: 1024px) {
}