.confirm {
    padding: 10px 10px 10px 10px;
    border: 1px solid #defbff44;   
    background-color: black;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px;
    position: fixed;
    width: 555px;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    opacity: 1;
    z-index: 999999;
    display: none;
    text-align: center;
    transform: translate(-50%, -50%);
    overflow-y: auto;
}

.confirm .missileselect {
    border: 1px solid #DEEBFF;
    color: #DEEBFF;
    padding: 3px 5px;
    position: relative;
    margin-top: 8px;
    margin-bottom: 10px;
    background-color: #123D73 !important;
    -moz-box-shadow: 0px 0px 15px #0099ff;
    -webkit-box-shadow: 0px 0px 15px #0099ff;
    box-shadow: 0px 0px 15px #0099ff;
}

.confirm .missileSelectItem {
    /*padding-left: 5em;*/
}

.missileSelectItem {
    text-align: left;
    vertical-align: middle;
}

.missileSelectItem .selectText {
    padding-left: 10px;
    display: inline-block;
    width: 75%;
}

.missileSelectItem .selectButtons {
    vertical-align: middle;
    display: inline-block;
}

.missileSelectItem .selectAmount {
    display: inline-block;
    width: 7%;
    border: 1px solid #496791;
    background-color: #072731;
    padding: 3px 5px;
    text-align: right;
}

.fighterAmount {
    display: inline-block;
    width: 7%;
    border: 1px solid #496791;
    background-color: #072731;
    padding: 3px 5px;
    text-align: right;
}

.totalUnitCost .totalUnitCostText {
    font-style: italic;
    font-weight: bold;
    display: inline-block;
    text-align: right;
    margin-right: 15px;
    width: 62%;
}

.totalUnitCost .totalUnitCostAmount {
    display: inline-block;
    width: 7%;
    border: 1px solid #496791;
    background-color: #072731;
    padding: 3px 5px;
    text-align: right;
}

.missileSelectItem table {
    border-spacing: 0px;
    empty-cells: show;
    display: inline-block;
}


.missileSelectItem .minusButton {
    display: inline-block;
    border: 1px solid #496791;
    width: 12px;
    height: 12px;
    position: relative;
    background-image: url(../img/minussquare.png);
    cursor: pointer;
}

.missileSelectItem .plusButton {
    display: inline-block;
    border: 1px solid #496791;
    width: 12px;
    height: 12px;
    position: relative;
    background-image: url(../img/plussquare.png);
    cursor: pointer;
}

.confirm .missileSelectItem .combo input {
    width: 92px;
    background-color: #cfc;
    height: 1.5em;
    z-index: 0;
}

.confirm .missileSelectItem .combo ul {
    padding: 1px;
    border: 2px solid #ccc;
    width: 89px;
    background-color: #cfc;
    position: absolute;
    right: 3px;
    top: 1.5em;
    display: none;
    z-index: 1;
}

.confirm .missileSelectItem .combo li {
    display: block;
    width: 100%;
}

.confirm .missileSelectItem .combo {
    position: relative;
    width: 190px;
    text-align: left;
    padding: 0;
    margin: 0;
}

.confirm .missileSelectItem .combo * {
    padding: 0;
    margin: 0;
}

.confirm.error {
    border: 1px solid #defbff44;    
    color: #b34119;
    font-family: arial;
    font-size: 16px;
}

.confirm.error .ship-name {
    color: rgba(255, 255, 255, 0.692);
}

.confirm h2 {
    font-size: 22px;
    margin: 10px;
}

.ui {

    color: white;
    text-decoration: none;
    margin: 10px 0px 0px 10px;
    position: relative;

}

.ui .confirmok {
    background-image: url("../img/ok.png");
    cursor: pointer;
    height: 30px;
    width: 30px;
}



.ui .confirmcancel {
    position: absolute;
    right: 10px;
    top: 0px;
    background-image: url("../img/cancel.png");
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.ui .confirmokoption {
    border: 1px solid #496791;
    border-radius: 5px;
    background-color: #0a3340;
    color: #DEFBFF;
    font-family: arial;
    font-size: 16px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 180px;
}



.ui .confirmcanceloption {
    border: 1px solid #496791;
    border-radius: 5px;
    background-color: #0a3340;
    color: #DEFBFF;
    font-family: arial;
    font-size: 16px;
    position: absolute;
    right: 10px;
    top: 0px;
    cursor: pointer;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 180px;
}

.ui .surrender {
    position: absolute;
    left: 175px;
    top: 0px;
}

.surrender {
    background-image: url("../img/surrender_icon.png");
    background-size: cover;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.ui span {
    cursor: pointer;
}

.ui span:hover {
    text-decoration: underline;
}

.confirm input {
    margin-left: 10px;
}

@media only screen and (max-width: 1024px) {}

/* Multi-value input dialog styles */
.confirm.multi-value-confirm {
    background: rgb(12, 0, 13);
    border: 3px solid #6a0080;
    box-shadow: 0 0 1px rgba(0, 153, 255, 0.3);
    color: #DEFBFF;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 15px;
    width: auto !important;
    /* Override inline width if needed */
    min-width: 400px;
}

.confirm.multi-value-confirm .multi-value-header {
    font-size: 16px;
    /*font-weight: bold;*/
    color: #e14dff;
    margin-bottom: 15px;
    /*text-transform: uppercase;*/
    letter-spacing: 1px;
    text-shadow: 0 0 5px rgba(85, 196, 255, 0.5);
    border-bottom: 1px solid rgba(73, 103, 145, 0.5);
    padding-bottom: 10px;
}

.confirm.multi-value-confirm .multi-value-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.confirm.multi-value-confirm .multi-value-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
    border: 1px solid transparent;
    transition: all 0.2s ease;
}

.confirm.multi-value-confirm .multi-value-row:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: #000000;
}

.confirm.multi-value-confirm .multi-value-label {
    font-size: 14px;
    color: #DEFBFF;
    text-align: right;
    flex: 1;
    margin-right: 15px;
}

.confirm.multi-value-confirm .multi-value-input {
    width: 60px;
    background: #0a151f;
    border: 1px solid #6a0080;
    font-size: 14px;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    font-family: 'Consolas', monospace;
    font-weight: bold;
    border-radius: 3px;
    outline: none;
    transition: all 0.2s ease;
}

.confirm.multi-value-confirm .multi-value-input:focus {
    border-color: #6a0080;
    border: 1px solid #6a0080;    
    box-shadow: 0 0 10px rgba(191, 0, 230, 0.75);
    color: #ffffff;
    background: #000;
}

.confirm.multi-value-confirm .multi-value-name {
    font-weight: bold;
    color: #DEFBFF;
}

.confirm.multi-value-confirm .multi-value-max {
    font-size: 14px;
    color: #DEFBFF;
    opacity: 0.8;
    /*margin-left: 5px;*/
}