.gamecontainer.found .notfound{
	display:none;
}

.gametable td
{
    vertical-align: top;
    text-align: center;
}

.gametable .gamecontainer
{
    width:250px;
    font-size: 12px;
}

.waitingForTurn
{
    border:1px solid #84a5ce !important;
	background-color:#254e82 !important;
	-moz-box-shadow: 0px 0px 15px #0099ff;
    -webkit-box-shadow: 0px 0px 15px #0099ff;
    box-shadow: 0px 0px 15px #0099ff;
}

#fireList {
}

.fireEntry {
}

.centered {
}

#loadFireButton {
    border: none;
    margin: auto;
    display: block; 
    background-color: #222;
    padding: 5px 0px;
    width: 160px;
    text-align: center;
    margin-bottom: 5px;
    color: white;
    text-decoration: none;
    font-family: arial;
    font-size: 12px;
}

#loadFireButton:hover{
    background-color: #DEEBFF;
    color: black;
}

#newsHeader {
    text-align: center;
    font-size: 20px;
}

#newsEntry {
    text-align: center;
    /*margin-top: 30px;*/
    border: 1px solid #DEEBFF
}