.shipwindow{
    position:fixed !important;
}

.creategame .subpanel.slotcontainer{
    padding-bottom:0px;
}

.creategame .subpanel.gamespacecontainer{
    padding-bottom:0px;
}

.invisible{
    display:none;
}

.slot{
	border:1px solid #DEEBFF;
	color:#DEEBFF;
	padding: 3px 5px;
    position:relative;
    margin-bottom:5px;
}

#movementDropdown, 
#asteroidsDropdown,
#moonsDropdown,
#desperateDropdown {
    margin-left: 15px;
}

.slot span{
	padding-right:5px;
}

.slot .status{
	display:none;
}

.slot.ready .status{
	display:inline;
}

.slot .status{
    color: #00d100; /* Bright green */
    font-weight: bold; /* Makes the text bold */
}

.slot .playername{
	font-size:14px;
	color:#6e9cdc; /* Original value  #496791 */
    font-weight: bold; /* Makes the text bold */	
}

.clickable{
	cursor:pointer;
}
.clickable:hover{
	text-decoration:underline;
}

.takeslot{
    color:red;
    font-weight: bold; /* Makes the text bold */    
}

.taken .takeslot{
	display:none;
}

.store span{
	padding-left:5px;

}

.store .ship{
	margin-left:20px;
}

.store .faction
{
    cursor:pointer;
}

.store .factionname{
	font-size:14px;
}

.store .ship{
	color:#8080FF;
}

.store .shipsizehdr{
	color:#6495ED;
	margin-left:10px;
	font-size:12px;
	font-style: italic;
}

.store .ship .clickable{
	cursor:pointer;
	color:#DEEBFF;
}

.store .ship .clickable:hover{
	cursor:pointer;
	color:#DEEBFF;
	text-decoration:underline;
}

.mediumSize{
    width:200px;
    text-align: center;
    
}

.smallSize{
    width:100px;
    text-align: center;
    
}

.tinySize{
    width:30px;
    text-align: center;
    
}
.slot input{
    margin-right:5px;
}

.leaveslot{
    position:absolute;
    border:1px solid #496791;
    width:10px;
    height:10px;
    right:5px;
    top:4px;
    background-image:url(../img/close.png);
    cursor:pointer;
}

.value{
    color:#6e9cdc; /* Original value  #496791 */
    
}

.selectslot{
    display:none;
}

.taken .selectslot{
    
    display:inline;
}

.slot.selected .selectslot{
    
    display:none;
}

.slot.selected{
    background-color:#123D73 !important;
	-moz-box-shadow: 0px 0px 15px #0099ff;
    -webkit-box-shadow: 0px 0px 15px #0099ff;
    box-shadow: 0px 0px 15px #0099ff;
    
}

.store .shipshidden .ship
{
    display:none;
}

.store .shipshidden .shipsizehdr
{
    display:none;
}

.store .factionname .tooltip
{
    font-size: 12px;
    color:#496791;
    display:none;
}


.store .factionname:hover .tooltip
{
    display:inline;
}

