#replayUI {
    pointer-events: auto;
    border: 1px solid #587e8d;
    border-radius: 8px;
    color: #deebff;
    background-color: #0a3340;
    position: relative;
    margin-left: 10px;
    min-height: 25px;
    height: auto;
    padding-top: 7px;
    width: auto;
    opacity: 0.85;
    box-shadow: 5px 5px 10px black;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    font-family: arial;
    font-size: 16px;
    flex-shrink: 0;
}

#replayUI.active,
#replayUI.inactive {
    display: flex;
}

#replayUI.active {
    background-color: transparent;
    border: none;
    box-shadow: none;
}

#replayUI button {
    margin: 0 5px;
    background-color: transparent;
    border: none;
    color: #deebff;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: black 0 0 10px, black 0 0 3px;
}

#replayUI button:hover {
    text-shadow: #deebff 0 0 10px, #deebff 0 0 3px;
}

#replayUI .selected-replay {
    text-transform: uppercase;
    margin-top: 0px;
    margin-right: 3px;
    margin-bottom: 0px;
    margin-left: 12px;
    padding-top: 3px;
}

#replayUI .replay-buttons button {
    font-size: 40px;
    color: #496791;
}

#replayUI .replay-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#replayUI.inactive .replay-inactive {
    display: block;
}

#replayUI.inactive .replay-active {
    display: none;
}

#replayUI.active .replay-inactive {
    display: none;
}

#replayUI.active .replay-active {
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: fixed;
    left: 50vw;
    transform: translateX(-50%);
    top: 5px;
    background-color: #0a33407a;
    /*border: 1px solid #496791a1;*/
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
    z-index: 10000;
}

#replayUI button:focus {
    outline: none;
}

#replayUI button.active {
    text-shadow: white 0 0 10px, white 0 0 3px;
    color: #deebff;
}

#replayUI.loading .replay-buttons {
    display: none;
}

#replayUI .loading-indicator {
    display: none;
}

#replayUI.loading .loading-indicator {
    display: flex;
}

@media only screen and (max-width: 765px) {
    #replayUI {
        font-size: 12px;
        min-height: 21px;
        height: auto;
        padding-top: 3px;
        margin-left: 5px;
    }

    #replayUI button {
        font-size: 12px;
        margin: 0 3px;
        padding-top: 3px;
    }

    #replayUI .replay-buttons button {
        font-size: 24px;
    }

    #replayUI.active .replay-active {
        padding: 5px;
    }

    #replayUI .selected-replay {
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 0px;
        margin-right: 3px;
        margin-bottom: 0px;
        margin-left: 6px;
        padding-top: 3px;
    }
}