#replayUI {
    z-index:10000;
    border:1px solid #496791;
    color:#deebff;
    background-color:#0a3340;
    position:absolute;
    top:-3px;
    left:710px;
    min-height:35px;
    width:auto;
    opacity:0.85;
    box-shadow: 5px 5px 10px black;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: arial;
    font-size: 16px;
}

#replayUI.active, #replayUI.inactive {
    display: flex;
}

#replayUI button {
    margin: 0 5px;
    background-color: transparent;
    border: none;
    color: #deebff;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

#replayUI .selected-replay {
    text-transform: uppercase;
}

#replayUI .replay-buttons button {
    font-size: 40px;
    color: #496791;
}

#replayUI .replay-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#replayUI.inactive .replay-inactive {
    display: block;
}

#replayUI.inactive .replay-active {
    display: none;
}

#replayUI.active .replay-inactive {
    display: none;
}

#replayUI.active .replay-active {
    display: block;
    padding: 10px;
}

#replayUI button:focus { outline: none; }

#replayUI button.active {
    text-shadow: white 0 0 10px, white 0 0 3px;
    color: #deebff;
}

#replayUI.loading .replay-buttons {
    display: none;
}

#replayUI .loading-indicator {
    display: none;
}

#replayUI.loading .loading-indicator {
    display: flex;
}